/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  .inner {
    width: 1100px;
    height: 120px;
    position: relative;
    margin: 0 auto;
  }
  .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    // display: none;
  }
  .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    ul.menu {
      font-family: Arial, sans-serif;
      display: flex;
      li {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 12px;
          background-color: #e5e5e5;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:first-child::before {
          display: none;
        }
        a {
          font-size: 12px;
          padding: 11px 16px;
          display: block;
          color: #656565;
          &:hover {
            color: #000;
          }
        }
      }
    }
    .search {
      height: 34px;
      position: relative;
      input {
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        color: #777;
        transition: width 0.4s;
        font-size: 12px;
        &:focus {
          width: 190px;
          border-color: #669900;
        }
      }
      .material-icons {
        height: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        margin: auto;
        transition: 0.4s;
      }
    }
  }
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
